:root {
    /* Background colours */
    --background-color: #a4d0ed;
    --control-panel-color: #41a76b;

    /* Flower 1 */
    --f1-light-green: #469d32;
    --f1-dark-green: #32711d;
    --f1-light-blue: #56b8f8;
    --f1-dark-blue: #319bd4;

    /* Flower 2 */
    --f2-light-green: #469d32;
    --f2-dark-green: #32711d;
    --f2-light-red: #FF2B2B;
    --f2-red: #E3343A;
    --f2-dark-red: #9E1B1F;

    /* Flower 3 */
    --f3-light-yellow: #F6E27A;
    --f3-yellow: #E8D474;
    --f3-light-orange: #F5CF86;
    --f3-orange: #F2BE68;

    --f3-light-green: #6FBA73;
    --f3-green: #58AE60;
    --f3-dark-green: #4A9A51;

}   

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--background-color);
    width: 100vw;
    height: 70vh;
    position: relative;
}

main section:nth-of-type(1), section:nth-of-type(2), section:nth-of-type(3) {
    width: 420px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(14, 30px);
    grid-template-rows: repeat(14, 30px);
}


/* Flower 1 */

/* Light green */
main section:nth-of-type(1) div:nth-of-type(39),
main section:nth-of-type(1) div:nth-of-type(60),
main section:nth-of-type(1) div:nth-of-type(61),
main section:nth-of-type(1) div:nth-of-type(65),
main section:nth-of-type(1) div:nth-of-type(120),
main section:nth-of-type(1) div:nth-of-type(163) {
    background-color: var(--f1-light-green);
}

/* Dark green */
main section:nth-of-type(1) div:nth-of-type(26),
main section:nth-of-type(1) div:nth-of-type(62),
main section:nth-of-type(1) div:nth-of-type(74),
main section:nth-of-type(1) div:nth-of-type(77),
main section:nth-of-type(1) div:nth-of-type(79),
main section:nth-of-type(1) div:nth-of-type(92),
main section:nth-of-type(1) div:nth-of-type(106),
main section:nth-of-type(1) div:nth-of-type(134),
main section:nth-of-type(1) div:nth-of-type(135),
main section:nth-of-type(1) div:nth-of-type(149),
main section:nth-of-type(1) div:nth-of-type(177),
main section:nth-of-type(1) div:nth-of-type(190),
main section:nth-of-type(1) div:nth-of-type(191) {
    background-color: var(--f1-dark-green);
}

/* Light blue */
main section:nth-of-type(1) div:nth-of-type(27), 
main section:nth-of-type(1) div:nth-of-type(31), 
main section:nth-of-type(1) div:nth-of-type(35), 
main section:nth-of-type(1) div:nth-of-type(41), 
main section:nth-of-type(1) div:nth-of-type(48), 
main section:nth-of-type(1) div:nth-of-type(49), 
main section:nth-of-type(1) div:nth-of-type(53){
    background-color: var(--f1-light-blue);
}

/* Dark blue */
main section:nth-of-type(1) div:nth-of-type(27),
main section:nth-of-type(1) div:nth-of-type(31),
main section:nth-of-type(1) div:nth-of-type(32),
main section:nth-of-type(1) div:nth-of-type(35),
main section:nth-of-type(1) div:nth-of-type(41),
main section:nth-of-type(1) div:nth-of-type(48),
main section:nth-of-type(1) div:nth-of-type(49),
main section:nth-of-type(1) div:nth-of-type(53),
main section:nth-of-type(1) div:nth-of-type(67),
main section:nth-of-type(1) div:nth-of-type(68),
main section:nth-of-type(1) div:nth-of-type(73),
main section:nth-of-type(1) div:nth-of-type(81),
main section:nth-of-type(1) div:nth-of-type(86),
main section:nth-of-type(1) div:nth-of-type(87),
main section:nth-of-type(1) div:nth-of-type(93),
main section:nth-of-type(1) div:nth-of-type(94) {
    background-color: var(--f1-light-blue);
}

main section:nth-of-type(1) div:nth-of-type(13), 
main section:nth-of-type(1) div:nth-of-type(28), 
main section:nth-of-type(1) div:nth-of-type(32), 
main section:nth-of-type(1) div:nth-of-type(34), 
main section:nth-of-type(1) div:nth-of-type(40),
main section:nth-of-type(1) div:nth-of-type(45), 
main section:nth-of-type(1) div:nth-of-type(46)
main section:nth-of-type(1) div:nth-of-type(66),
main section:nth-of-type(1) div:nth-of-type(72),
main section:nth-of-type(1) div:nth-of-type(107),
main section:nth-of-type(1) div:nth-of-type(108) {
    background-color: var(--f1-dark-blue);
}


/* Flower 2 */

/* Light red */
main section:nth-of-type(2) div:nth-of-type(35),
main section:nth-of-type(2) div:nth-of-type(49),
main section:nth-of-type(2) div:nth-of-type(50),
main section:nth-of-type(2) div:nth-of-type(52),
main section:nth-of-type(2) div:nth-of-type(60),
main section:nth-of-type(2) div:nth-of-type(61),
main section:nth-of-type(2) div:nth-of-type(74),
main section:nth-of-type(2) div:nth-of-type(75) {
    background-color: var(--f2-light-red);
}

/* Red */
main section:nth-of-type(2) div:nth-of-type(36),
main section:nth-of-type(2) div:nth-of-type(37),
main section:nth-of-type(2) div:nth-of-type(47),
main section:nth-of-type(2) div:nth-of-type(51),
main section:nth-of-type(2) div:nth-of-type(64),
main section:nth-of-type(2) div:nth-of-type(66),
main section:nth-of-type(2) div:nth-of-type(76) {
    background-color: var(--f2-red);
}

/* Dark red */
main section:nth-of-type(2) div:nth-of-type(48),
main section:nth-of-type(2) div:nth-of-type(62),
main section:nth-of-type(2) div:nth-of-type(63),
main section:nth-of-type(2) div:nth-of-type(65),
main section:nth-of-type(2) div:nth-of-type(77),
main section:nth-of-type(2) div:nth-of-type(78),
main section:nth-of-type(2) div:nth-of-type(89) {
    background-color: var(--f2-dark-red);
}

/* Light green */
main section:nth-of-type(2) div:nth-of-type(91),
main section:nth-of-type(2) div:nth-of-type(105),
main section:nth-of-type(2) div:nth-of-type(119),
main section:nth-of-type(2) div:nth-of-type(133),
main section:nth-of-type(2) div:nth-of-type(145) {
    background-color: var(--f2-light-green);
}

/* Dark green */
main section:nth-of-type(2) div:nth-of-type(90),
main section:nth-of-type(2) div:nth-of-type(104),
main section:nth-of-type(2) div:nth-of-type(144),
main section:nth-of-type(2) div:nth-of-type(147),
main section:nth-of-type(2) div:nth-of-type(149),
main section:nth-of-type(2) div:nth-of-type(150),
main section:nth-of-type(2) div:nth-of-type(159),
main section:nth-of-type(2) div:nth-of-type(161),
main section:nth-of-type(2) div:nth-of-type(162),
main section:nth-of-type(2) div:nth-of-type(174),
main section:nth-of-type(2) div:nth-of-type(175),
main section:nth-of-type(2) div:nth-of-type(176) {
    background-color: var(--f2-dark-green);
}

/* Flower 3 */

/* Light yellow */
main section:nth-of-type(3) div:nth-of-type(90),
main section:nth-of-type(3) div:nth-of-type(92),
main section:nth-of-type(3) div:nth-of-type(106),
main section:nth-of-type(3) div:nth-of-type(117),
main section:nth-of-type(3) div:nth-of-type(118) {
    background-color: var(--f3-light-yellow);
}

/* Yellow */
main section:nth-of-type(3) div:nth-of-type(94),
main section:nth-of-type(3) div:nth-of-type(120) {
    background-color: var(--f3-yellow);
}

/* Light orange */
main section:nth-of-type(3) div:nth-of-type(89),
main section:nth-of-type(3) div:nth-of-type(93),
main section:nth-of-type(3) div:nth-of-type(104),
main section:nth-of-type(3) div:nth-of-type(105),
main section:nth-of-type(3) div:nth-of-type(119),
main section:nth-of-type(3) div:nth-of-type(122) {
    background-color: var(--f3-light-orange);
}

/* Orange */
main section:nth-of-type(3) div:nth-of-type(107),
main section:nth-of-type(3) div:nth-of-type(121) {
    background-color: var(--f3-orange);
}

/* Light green */
main section:nth-of-type(3) div:nth-of-type(133),
main section:nth-of-type(3) div:nth-of-type(134),
main section:nth-of-type(3) div:nth-of-type(147),
main section:nth-of-type(3) div:nth-of-type(161),
main section:nth-of-type(3) div:nth-of-type(175),
main section:nth-of-type(3) div:nth-of-type(189) {
    background-color: var(--f3-light-green);
}

/* Green */
main section:nth-of-type(3) div:nth-of-type(149),
main section:nth-of-type(3) div:nth-of-type(159),
main section:nth-of-type(3) div:nth-of-type(160)  {
    background-color: var(--f3-green);
}

/* Dark green */
main section:nth-of-type(3) div:nth-of-type(148),
main section:nth-of-type(3) div:nth-of-type(150),
main section:nth-of-type(3) div:nth-of-type(162),
main section:nth-of-type(3) div:nth-of-type(163),
main section:nth-of-type(3) div:nth-of-type(174),
main section:nth-of-type(3) div:nth-of-type(176),
main section:nth-of-type(3) div:nth-of-type(190) {
    background-color: var(--f3-dark-green);
}





footer {
    background-color: var(--control-panel-color);
    width: 100vw;
    height: 30vh;
}